.type-1011 {
  position: relative;
  top: 65px;
}
.type-1011 .thanhdoc {
  border: 1px solid #EEEEEE;
}
.type-1011 .nav-tabs>li.active>a,
.type-1011 .nav-tabs>li.active>a:focus,
.type-1011 .nav-tabs>li.active>a:hover {
  border: none;
  color: #cccccc;
  border-bottom: 2px solid #e24545;
  width: 10%;
}
.type-1011 .nav-tabs {
  margin-top: 40px;
  border: none;
}
.type-1011 .nav>li>a {
  padding: 0;
}
.type-1011 .nav-tabs>li {
  padding-right: 24px;
}
.type-1011 .nav>li>a {
  font-weight: bold;
  color: #000;
  border-bottom: 2px solid #e24545;
  width: 10%;
  font-size: 18px;
  border: none;
}
.type-1011 #home {
  margin-top: 36px;
  line-height: 1.7;
  border: 5px solid #f1eeee;
}
.type-1011 #home p {
  font-size: 1.5em;
  padding: 25px;
}
.type-1011 .fa1 {
  float: right;
}
.type-1011 .fa1 .fa {
  color: #e24545;
}
.type-1011 .gach {
  border-bottom: 1px solid #EEEEEE;
}
.type-1011 #menu1 {
  margin-top: 36px;
}
.type-1011 .amin {
  color: #878787;
}
.type-1011 button,
.type-1011 input,
.type-1011 select,
.type-1011 textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin-left: 88px;
}
.type-1011 label.email {
  margin-top: 20px;
  position: absolute;
}
.type-1011 input#authors {
  margin-top: 17px;
  border: 2px solid #ececec;
}
.type-1011 .time {
  color: #929292;
}
.type-1011 .add h3 {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 22px;
  font-style: normal;
}
.type-1011 .required {
  color: red;
}
.type-1011 .star-rating {
  line-height: 32px;
  font-size: 1.25em;
}
.type-1011 .star-rating .fa-star {
  color: #D26E4B;
}
.type-1011 .cmt {
  padding-top: 20px;
}
.type-1011 .txt #comment {
  height: 117px;
  width: 80%;
  box-sizing: border-box;
}
.type-1011 .txt {
  margin: 22px 0;
}
.type-1011 #comment {
  resize: none;
  border: 2px solid #ececec;
}
.type-1011 #author {
  resize: none;
  border: 2px solid #ececec;
  height: 47px;
  width: 339px;
  margin: 0 33px;
}
.type-1011 .txt1 #author {
  height: 28px;
  margin: 0;
  width: 80%;
}
.type-1011 .dangnhap {
  padding: 5px;
  background: none;
  transition: all 300ms ease 0s;
  font-size: 13px;
  border: 2px solid #000;
  font-weight: bold;
  width: 99px;
}
.type-1011 .dangnhap:hover {
  background: #E24545;
  color: #fff;
  border: 2px solid #E24545;
}
.type-1011 .dp .dangnhap {
  margin-top: 15px;
  margin-bottom: 15px;
}
.type-1011 .hinh {
  padding: 0;
}
.type-1011 .admin {
  margin-left: -45px;
}
.type-1011 .nav>li>a:hover {
  background: none;
}
@media screen and (max-width: 992px) {
  .type-21 .admin {
    margin-left: 0px;
  }
}
@media screen and (max-width: 480px) {
  .stype-107 .nav>li>a {
    padding-top: 15px;
    border-bottom: 2px solid #e24545;
  }
  .stype-107 .dp .dangnhap {
    float: left;
  }
  .hinhnguoi {
    float: left;
    margin-right: 15px;
  }
}
