.type-833 {
  width: 100%;
}
.type-833 h1 {
  text-transform: uppercase;
  font-weight: bold;
}
.type-833 .tab {
  padding-top: 30px;
  padding-bottom: 30px;
}
.type-833 .tab table {
  text-align: center;
}
.type-833 .tab table tr th {
  border: 1px solid black;
  padding: 15px;
  background: #23365e;
  color: #fff;
  font-weight: bold;
  font-size: 2em;
}
.type-833 .tab table tr td {
  border: 1px solid black;
  padding: 15px;
  font-weight: bold;
  font-size: 1.5em;
}
.type-833 .tab table .van {
  background: #fff;
}
.type-833 .tab table .toan {
  background: #b6e7e5;
}
