/*
	==================================================================================================================
												BEGIN BANNER 
	==================================================================================================================
*/
.type-833{
	width: 100%;

	h1{
		text-transform: uppercase;
		font-weight: bold;
	}
	.tab{
		padding-top: 30px;
		padding-bottom: 30px;
		table{
			text-align: center;
		
			tr th{
				border: 1px solid black;
				padding: 15px;
				background: rgb(35, 54, 94);
				color: #fff;
				font-weight: bold;
				font-size: 2em;
			}
			tr td{
				border: 1px solid black;
				padding: 15px;
				font-weight: bold;
				font-size: 1.5em;			}
			.van{
				background: #fff;
			}
			.toan{
				background: rgb(182, 231, 229)	;
			}
		}
	}
}

