.stype-16 {
  background: #251a66;
}
.stype-16 .content {
  padding-top: 20px;
}
.stype-16 .content h1 {
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  font-family: Segoe UI Black;
}
.stype-16 .content .pay {
  text-align: center;
}
.stype-16 .content .pay h3 {
  color: #ffffff;
  display: inline-block;
}
.stype-16 .content .pay h2 {
  display: inline-block;
  color: #48cdd6;
  font-size: 3.5em;
  font-weight: bold;
}
.stype-16 .content .bor {
  position: absolute;
  margin-left: 241px;
  margin-top: -28px;
  width: 120px;
  background: #ffffff;
  height: 2px;
  text-align: center;
}
.stype-16 .content p {
  color: #ffffff;
  font-size: 1.8em;
  text-align: center;
}
.stype-16 .content p .price {
  color: #e93cc3;
  font-size: 1.5em;
  font-weight: bold;
}
.stype-16 .content .end {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
.stype-16 .content .end label {
  color: #a0a0a0;
}
.stype-16 .content .btn {
  display: flex;
  justify-content: center;
}
.stype-16 .content .btn button {
  color: #e93cc3;
  border: 1px solid #ffffff;
  text-transform: uppercase;
  font-size: 2.5em;
  padding: 10px 30px;
  background: #180c50;
  margin-top: 17px;
}
.stype-16 .picture {
  padding-top: 42px;
}
@media (max-width: 767px) {
  h1 {
    font-size: 2em !important;
    line-height: 1.5 !important;
  }
}
