.stype-16 .produt1 {
  font-size: 26px;
}
.stype-16 .produt1 .price_filter-2 {
  margin-bottom: 40px;
  font-size: 26px;
}
.stype-16 .produt1 .price_filter-2 .menu-item {
  font-size: 15px;
  display: inline-block;
  margin-top: 7px;
  padding-bottom: 12px;
  font-weight: bold;
  padding-top: 25px;
}
.stype-16 .produt1 .price_filter-2 .duongvien {
  border: 1px solid #e24545;
  width: 15px;
}
.filte button {
  border: 2px solid #333;
  background: none;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 1.333;
  color: #333;
  padding: 8px 22px;
  width: 25%;
  margin-top: 8px;
  letter-spacing: 4px;
}
.filte button:hover {
  background-color: #e24545;
  border-color: #e24545;
  text-decoration: none;
  background: #e24545;
  color: #fff;
}
.filte .price_lable {
  padding-top: 10px;
  font-size: 13px;
  text-align: center;
  display: inline-block;
  padding: 15px;
  width: 25%;
  background: #ececec;
  margin-top: 15px;
}
.filte img {
  margin-top: 30px;
}
.filte .images img {
  width: 25%;
}
